@page "/LearnAdvanceRouting"
@using System.Collections.Specialized
@inject NavigationManager NavigationManager
<h3>LearnAdvanceRouting</h3>
<p>First Parameter : @_parameter1</p>
<p>Second Parameter : @_parameter2</p>
<p>
    <button @onclick="LoadParameters">Load Parameters</button>
</p>

@code {

    string _parameter1;
    string _parameter2;

    private void LoadParameters()
    {
        Uri absoluteUrl = new Uri(NavigationManager.Uri);
        NameValueCollection queryParam = System.Web.HttpUtility.ParseQueryString(absoluteUrl.Query);

        _parameter1 = queryParam["Parameter1"];
        _parameter2 = queryParam["Parameter2"];
    }
}